language: python
env:
    - DJANGO_VERSION=1.6.11
    - DJANGO_VERSION=1.9.4
python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "nightly"
install: 
    - pip install -r requirements-devel.txt 
    - pip install -q Django==$DJANGO_VERSION
    - python setup.py install
script: 
    - python -m unittest discover snorky.tests
